*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.segunda{
    width: 100%;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img{
    
    left: 50%;
   margin-bottom: 200px;
    width: 100%;
    height: 100vh;
    z-index: 0;
    opacity: 70%;
    
    
}

img{
    width: 100%;
    height: 120%;
}



.link{
    background-color: rgb(39, 41, 43);
    border-radius: 20px;
    width: 300px;
    height: 50px;
    position: relative;
   display: flex;
   justify-content: center;
   
   align-items: center;
}

a{
    color: aliceblue;
    text-decoration: none;
}

video{
    position: absolute;
   
  
    width: auto;
    height: auto;
    z-index: 0;
    
    opacity: 70%;
}

.margin{
    margin-top: 200px;
}


