*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    
}
body{
    background: rgb(15,14,17);
    background: linear-gradient(90deg, rgba(15,14,17,1) 0%, rgba(35,31,119,1) 30%, rgba(29,105,124,1) 100%);
}
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap");

:root {
  --scale: 0.1;
  --space: 8vmin;
  --font-primary: "Lato", sans-serif;
  --font-heading: "Playfair Display", serif;
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}

.container .produtos{
   
    background-color: red;
}

.cd{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 20px;
}
.cd .row{
    width: 300px;
    height: 300px;
    background-color: rgb(83, 127, 165);
}

body {
    overflow-x: hidden;
  color: hsl(0, 0%, 95%);
  background-color: hsl(5, 15%, 5%);
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-family: var(--font-primary);
  line-height: 1.6;
}


a:hover,
a:focus {
  text-decoration: underline;
}

.page-title {
    font-size: 80px;
    color: aliceblue;
    margin-top: 150px;
  text-align: center;
}

.page-title::after {
  content: "↓";
  display: block;
  font-size: 1em;
  opacity: 0;
  transform: translateY(-24px);
  animation: fadein 800ms 500ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-duration: 3.9s;
}


.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - var(--scale)));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - var(--scale))));
}

.section-title {
  font-family: var(--font-heading);
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  font-weight: bold;
  line-height: 1.125;
}

.byline {
  display: block;
  font-size: 0.6em;
  margin: calc(var(--space) / 1.35) 0;
}

.content {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 80ch;
  width: calc(100% - var(--space));
  background: hsla(244, 49%, 45%, 0.9);
}

.content > * + * {
  margin-top: 2rem;
}

.image-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(5, 15%, 5%, 0) 0%,
    hsla(5, 15%, 5%, 0.013) 8.1%,
    hsla(5, 15%, 5%, 0.049) 15.5%,
    hsla(5, 15%, 5%, 0.104) 22.5%,
    hsla(5, 15%, 5%, 0.175) 29%,
    hsla(5, 15%, 5%, 0.259) 35.3%,
    hsla(5, 15%, 5%, 0.352) 41.2%,
    hsla(5, 15%, 5%, 0.45) 47.1%,
    hsla(5, 15%, 5%, 0.55) 52.9%,
    hsla(5, 15%, 5%, 0.648) 58.8%,
    hsla(5, 15%, 5%, 0.741) 64.7%,
    hsla(5, 15%, 5%, 0.825) 71%,
    hsla(5, 15%, 5%, 0.896) 77.5%,
    hsla(5, 15%, 5%, 0.951) 84.5%,
    hsla(5, 15%, 5%, 0.987) 91.9%,
    hsl(5, 15%, 5%) 100%
  );
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.segunda{
    width: 100%;
    background: rgb(222,222,236);
    background: linear-gradient(90deg, rgba(222,222,236,1) 5%, rgba(255,255,255,1) 16%, rgba(232,236,237,1) 87%, rgba(174,174,199,1) 100%);
    height: 90vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    
}


.bloco{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    
}
.bloco-texto{
    
    width: 350px;
    height: 300px;
}
.bloco-texto a{
    margin-left: 50px;
}
.bloco-texto img{
    width: 100%;
    height: 100%;
}
.bloco-img{
    width: 800px;
    height: 60%;
    
}
.bloco-img img{
    width: 100%;
    height: 100%;
}
.bloco-texto, .bloco-img{
    margin: 20px;
}


.header{
    background: rgb(222,222,236);
background: linear-gradient(90deg, rgba(222,222,236,1) 5%, rgba(255,255,255,1) 16%, rgba(232,236,237,1) 87%, rgba(174,174,199,1) 100%);
    
}
.header a{
    margin-left: 30px;
    color: rgb(26, 23, 23);
    background-color: transparent;
}




.container-vd{
    background-color: rgb(0, 0, 0)!important;
    height: 80vh;
}

.block{
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-vd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
    border-radius: 15px;
    width: 800px;
    height: auto;
}
video{
    
    width: 100%;
    height: 100%;
}
.block-tx{
    display: inline-block;
 
    
    height: 600px;
    
}
.block-vd, .block-tx{
    margin: 30px;
}

.menu{
    border-radius: 15px;
    background-color: rgb(54, 37, 129);
    height: 160px;
    
}
.menu img{
    
    padding: 20px;
    width: 70px;
    height: 70px;
}
.menu p{
    padding-left: 25px;
}
.row, .menu{
    margin: 30px;
}



.bloco-ar{
   
    margin: auto;
    width: 900px;
    height: 100%;
    
}
.bloco-ar2{
   
    margin: auto;
    width: 900px;
    height: 100%;
    
}

.cadeira-ar img{
    
    border-radius: 20px;
    margin: auto;
    width: 400px;
    height: 500px;
}

.view-ar{
    
    
    margin-top: 100px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 750px;
    height: 350px;
    border-radius: 10px;
    
}
.view-ar h1{
  
    
    font-size: 50px;
   
}

.view-link{
    
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    width: 200px;
    margin-top: 40px;
    
    background-color: black;
}

.view-ar a{
   
    color: aliceblue;
}

.view-ar a:hover{
    color: rgb(122, 140, 155);
}

.slide-menu{
   justify-content: center;
   align-items: center;
    display: flex;
    
}

.titulo-menu{
    width:400px;
    height: 500px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.carrosel{
   
    width: 500px;
    height: 500px;
}

.titulo-menu h1{
    font-weight: 900;
    
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-products{
   
    
    background-color: rgb(7, 7, 7);
}


.margin{
    margin: auto;
    max-width: 1700px;
    height: 200vh;
    
    
}



.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
    visibility:hidden;
}

.menu-blocks{
    
    margin: 30px 50px 30px 50px;
    
    
   
}
.menu-blocks a, p, h5{
    color: rgb(253, 254, 255);
}

.card-menu{
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.texto-produtos{
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px 20px 0 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    
}
.texto-produtos h1{
    margin-top: 30px;
}

@media (max-width: 560px){
    .segunda{
        width: 100%;
        height: 800px;
       
    }
  
    .bloco{
        
       
       
        flex-direction: column;
        
    }
    .tittle h1{
        margin: auto;
        width: 80%;
        font-size: 30px;
    }
    .link{
        width: 200px;
    }
    .cadeira-ar{
        width: 100%;
        height: 550px;
        
        margin: auto;
    }
  
   
    .bloco-ar2{
        width: 550px;
        height: 350px;
    }
    .bloco-ar2 img{
        width: 100%;
        height: 100%;
    }
    .bloco-ar{
        display: none;
        visibility: hidden;
    }
    .view-ar{
       
       
        position: relative;
    }
    .view-ar h1{
        
        margin: auto;
        width: 200px;
        font-size: 30px;
        text-align: left;
    }
    .view-link{
        
        padding: 10px;
       
    }
    .slide-menu{
        flex-direction: column;
        background-color: rgb(29, 27, 27);
        height: 600px;
    }
    .carrosel{
        height: 700px;
    }
    .titulo-menu{
        margin: auto;
        width: auto;
        height: 100%;
        
    }
    .titulo-menu h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .menu-blocks{
        margin-top: 10px;
    }
    .menu-blocks h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .vendas{
        height: 100vh;
    }
    .menu-vendas{
       height: 700px;
        flex-direction: column;
    }
    .bloco-vendas{
      
        height: auto;
        width: 90%;
    }
    .mv1
    {
        height: 400px;
        border-radius: 10px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: rgb(138, 90, 90);
    }
    .container-vd{
        height: 100vh;
        background-color: red;
    }
    .block{
        flex-direction: column;
    }
    .block-tx{
        height: 100vh;
    }
    .menu{
        background-color: rgb(190, 153, 153);
        
        
    }
    video{
        width: 100%;
        height: 100%;
    }
    .block-vd{
        height: 500px;
    }
}





